.sort-container {
  border: thin black solid;
  margin: auto;
  padding: 0px;
  text-align: center;
  height: 40px;
  width: 150%;
  position: relative;
  right: 300px;
  top: 20px;
  overflow: hidden;
  background: lightgrey;
}

.form-box {
  display: inline-block;
  position: relative;
  bottom: 33px;
}

.select-box {
  width: 130px;
}

.tooltip {
  color: red;
  font-family: sans-serif;
  font-size: 0.9em;
  font-variant: small-caps;
}

.slider {
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  padding-top: 10px;
}

.slider-box {
  display: inline-block;
  margin: 10px;
  position: relative;
  bottom: 28px;
}

.slider-left-text {
  font-family: sans-serif;
  font-size: 0.9em;
  position: relative;
  bottom: 7px;
}

.btn {
  position: relative;
  height: 40px;
  bottom: 36px;
  background-color: darkgray;
}

.btn:hover {
  background-color: darken( darkgray, 20%);
  transition: 0.5s;
}
