.result-desc-card {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  max-height: 500px;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(235, 230, 255);
  position: relative;
}

.title {
  font-family: sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  text-align: center;
  border: thin black solid;
  max-height: 25%;
}

.desc-box {
  font-family: sans-serif;
  font-size: 1em;
  text-align: justify;
}

.desc-btn {
  float: right;
  cursor: pointer;
}

.material-icons{
  clear: both;
}

.end-box .visit-url{
    display: inline;
}

.visit-url a {
  text-decoration: none;
}

a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

a:hover,
a:active {
  background-color: red;
}

.show-more {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px black solid;
  cursor: pointer;
}

