/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/theming.scss';
@import './../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';

//@import '~@angular/material/core/theming/all-theme';
//@include md-core();
//$primary: md-palette($md-orange, 800);
//$accent:  md-palette($md-light-blue, 600, A100, A400);
//$warn:    md-palette($md-red, 600);
//$theme: md-light-theme($primary, $accent, $warn);
//@include angular-material-theme($theme);

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-size: cover;
  //background-color: rgb(221, 229, 229);
  background: linear-gradient(to top, rgb(30, 30, 34), rgb(112, 122, 131));
}

btn:hover {
  background-color: darken(white, 30%);
}